.container-fluid {
    background-color: #212529;
    height: 100%;
    width: 100%;
    padding : 10vh;
}
/* .divide {
   border-bottom: 0.5px solid #5ad841
} */

.prim {
    background-color: transparent;
    color:white;
    border: 2px solid ;
    border-radius: 5px;

}
.prim:hover {
    background-color: white;
    color: black;
}
.primary {
        border-radius: 5px;
        margin: 2vh;
        font-size: 3vh;
        background-color: transparent;
        color:black;
        border-color: black;
        border: 2px solid ;
        border-radius: 5px;
}
.primary:hover {
    background-color: black;
    color:white;
}


.flat-table {
    margin-bottom: 20px;
    border-collapse:collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
            border-radius: 3px;
           -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
}
.flat-table th, .flat-table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
        inset 0 1px rgba(0,0,0,0.25);
}
 h2 {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    color: rgba(133, 133, 133, 0.45);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 2em;
    text-align: center
}
.flat-table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: rgba(0,0,0,0.45);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.5em;
}
.flat-table td {
    color: #f7f7f7;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.4em;
}
.flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}
.flat-table-3 {
    background: #52be7f;
}
.flat-table-3 tr:hover {
    background: rgba(0,0,0,0.1);
}
.boxes {
  margin-top: 10vh;  
}
.box {
    color: rgba(255, 255, 255, 0.712);
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    transition: all
}
.box:hover{
    border: 1px solid;
    border-color: #5ad841;   
}
.betForm {
    display: flex;
    flex-direction: column;
}
