<div class="container-fluid how-section1">
    <div class="row">
        <div class="col-md-6">
          <h2> ACTIVE POLLS</h2>
        <table class="flat-table flat-table-3">
            <thead>
              <th>Cryptocurrency</th>
              <th>Total bets</th>
              <th>Total amount</th>
              <th>final date</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr>
                <td>BTC</td>
                <td>12</td>
                <td>49$</td>
                <td>12 / 12 /2019</td>
                <td><button class="prim" (click)="showDialog()">Place bet</button></td>
              </tr>
              <tr>
                  <td>ETH</td>
                  <td>48</td>
                  <td>311.49$</td>
                  <td>07 / 07 /2019</td>
                  <td><button class="prim" (click)="showDialog()">Place bet</button></td>
              </tr>
            </tbody>
            <tfoot>
              <td><button class="prim" (click)="showDialogg()">Place bet</button></td>
            </tfoot>
          </table>
        </div>
        <div class="col-md-6">
                        <h4 class="subheading">Cryptocurrencies prices in the last few days.</h4>
                        <div class="chart">
                            <p-chart type="line" [data]="data"></p-chart>
                        </div>
        </div>
    </div>
    <p-dialog header="Title" [(visible)]="display">
        <div>
          <form class="betForm">
              <label for="crypt">BET ON :</label>
              <select name="crypto" id="crypt" form="betform">
                  <option value="btc">BITCOIN</option>
                  <option value="eth">ETHERUM</option>
                  <option value="dgc">DODGECOIN</option>
                </select>
                <label for="value">Future Price :</label>
                <input type="number" id="value" value="0">
                <label for="token">Number of token :</label>
                <input type="number" id="token" value="0">
                <div>
                <button type="submit" class="primary">Place bet</button>
                <button type="reset" class="primary" (click)="showDialog()">cancel bet</button>
              </div>
          </form>
        </div>
    </p-dialog>
    <p-dialog header="Title" [(visible)]="show">
      <form class="betForm">
        <label for="value">Which Cryptocurrency :</label>
        <input type="text" id="value">
        <label for="token">final date :</label>
        <input type="date" id="token">
        <div>
        <button type="submit" class="primary">ADD POLL</button>
        <button type="reset" class="primary" (click)="showDialogg()">cancel</button>
      </div>
  </form>
    </p-dialog>
    <div class="row boxes">
       <div class="col-md-4">
         <div class="box">
          <h4>latest win</h4>
          <p>7 tokens</p>
       </div></div>
       <div class="col-md-4">
          <div class="box">
              <h4>latest connection</h4>
              <p>yesterday</p>
           </div>
       </div>
       <div class="col-md-4"><div class="box">
          <h4>ROI</h4>
          <p>167%</p>
       </div></div>
               
    </div>
</div>