<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="true" loop="loop">
    <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex text-center h-100">
      <div class="my-auto w-100 text-white">
        <h1 class="display-3">KATOTRADE INVESTMENTS</h1>
        <div>
          <a routerLink="/login" routerLinkActive="active"><button class="btn-6" ><span>LOGIN</span></button></a>
          <a routerLink="/signup" routerLinkActive="active"><button class="btn-6"><span>SIGNUP</span></button></a>
        </div>
      </div>
    </div>
  </div>
</header>